/* CSS RESET BY DIGITAL OCEAN */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* My own styles */

body {
  outline: auto red;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.book-display {
  background-color: gray;
  color: white;
  width: clamp(150px, 20vw, 200px);
  height: clamp(250px, 26vw, 300px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr 1fr 1fr;
  grid-template-areas: 
  "book-title book-title"
  "book-author book-author"
  "book-num-of-pages book-num-of-pages"
  "book-read delete-book-button";
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

.delete-book-button {
  grid-area: delete-book-button;
}

.book-title {
  word-breaK:break-all;
  grid-area: book-title;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.book-author {
  word-breaK: break-all;
  grid-area: book-author;
}

.book-read {
  grid-area: book-read;
}

.book-num-of-pages {
  grid-area: book-num-of-pages;
}

.book-author,
.book-read,
.book-num-of-pages {
  justify-self: center;
  align-self: center;
}

.add-book-button {
  outline: auto red;
  font-size: 3rem;
}

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}